__pycache__/
*.py[cod]
*$py.class

venv/
.env/
.venv/
env/
.stats/
stats/
Lib/
Include/
Scripts/
.python-version

.ipynb_checkpoints
*.ipynb_checkpoints/

*.log
*.tmp
*.bak
*.swp
*.DS_Store

.vscode/
.idea/
*.code-workspace

build/
dist/
*.egg-info/